version: "3.9"

services:
  api:
    build: ./api
    depends_on:
      - mongo

  worker:
    build: ./worker
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db

  nginx:
    build: ./nginx
    ports:
      - "8083:80"
    depends_on:
      - api

volumes:
  mongo-data:

